html,
body {
	background-image: url("background.png");
	overflow: hidden;
}

.tilt-card {
	display: inline-block;
	position: relative;
	margin-left: 51%;
	margin-top: 11.5%;
	overflow: hidden;
	object-fit: contain;
	cursor: pointer;
	height: 720px;
}

.tilt-card img {
	width: 100%;
	height: auto;
}
